$logo-height: 31px;

$user-contact-icon-size: 20px;
$user-contact-icon-spacer: 22px;

$user-image-size: 30px;
$user-image-profile-size: 150px;

$icon-size: 30px;
$icon-padding: 5px;
$icon-border-radius: 5px;
$icon-font-size: $icon-size - 2 * $icon-padding;

$title-margin-left: 50px;
$title-icon-height: 38px;

$btn-file-attachment-width: 230px;
$btn-file-attachment-padding-x: 15px;
$btn-file-attachment-padding-y: 10px;
