.comment-form {
	label,
	.legend-text {
		font-size: $font-size-base;
		margin: 0;
	}

	.legend-text {
		height: 100%;
	}

	.legend-inline {
		margin-bottom: 0;

		span {
			line-height: 1;
			vertical-align: middle;
		}
	}

	.form-required::after {
		content: "*";
		color: $loop-red;
	}

	.description {
		font-size: $font-size-sm;
		color: $gray-600;
	}

	// TODO: handle layout in Twig file instead
	label[for="edit-os2loop-question-answer-0-value"] {
		margin-bottom: 12px;
	}

	.field-legend-wrapper {
		margin-bottom: 7px;

		legend {
			margin-left: 8px;
		}
	}

	.form-wrapper + .form-wrapper:not(:last-child) {
		margin-top: 20px;
	}

	// TODO: this should probably not be hard-coded using id's
	#edit-os2loop-comment-anonymous-author {
		display: inline-flex;

		// reverse order and align to left
		flex-direction: row-reverse;
		justify-content: flex-end;

		> div {
			margin-bottom: 0px;

			// corresponds to value 0 (Nej)
			#edit-os2loop-comment-anonymous-author-0 + label {
				border-radius: $border-radius 0 0 $border-radius;
			}

			// corresponds to value 1 (Ja)
			#edit-os2loop-comment-anonymous-author-1 + label {
				border-radius: 0 $border-radius $border-radius 0;
				border-left: none;
			}

			input {
				// hide the radio buttons
				position: absolute !important;
				height: 1px;
				width: 1px;
				border: 0;
				overflow: hidden;

				// handle switching between the radio buttons
				&:checked {
					&#edit-os2loop-comment-anonymous-author-0 + label,
					&#edit-os2loop-comment-anonymous-author-1 + label {
						background-color: $loop-green;
						color: $loop-white;
					}
				}
			}

			label {
				// styled to match .btn (-ish)
				background-color: $loop-white;
				border: 1px solid $gray-400;
				transition: $btn-transition;

				min-width: 50px;
				padding: $btn-padding-y $btn-padding-x;
				text-align: center;

				font-size: $font-size-sm;
				line-height: 1;

				&:hover {
					cursor: pointer;
					// TODO: add this to variables
					background-color: #eff5f4;
				}
			}
		}
	}

	.upload-button {
		@include inline-icon("\f603", 10px);

		label:hover {
			cursor: pointer;
		}
	}

	#edit-submit {
		display: flex;
		margin-left: auto;
	}
}
