.subject {
  &.comment, &.answer {
    &:before {
      display: inline-block;
      content: "";
      background: url("../svg/comment.svg") no-repeat 0 0;
      height: 23px;
      width: 22px;
      margin-right: 9px;
    }
  }
}
