parameters:
  paths:
    - web/profiles/custom/os2loop
  level: 0
  customRulesetUsed: true
  ignoreErrors:
      - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
      - '#Missing cache backend declaration for performance.#'
      - '#Plugin manager has cache backend specified but does not declare cache tags.#'
  reportUnmatchedIgnoredErrors: false
