{#
/**
 * @file
 * Implementation of a documents info box.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}
{# Get highlight color from subject on parent node #}
{% set node_id = element['#object'].nid.value|default(null) %}
{% set highlight_color = node_id ? drupal_field('os2loop_shared_subject', 'node', node_id)['0']['#options'].entity.os2loop_taxonomy_color_picker.value|default('') %}
{% set classes = [
'os2loop-documents-info-box',
highlight_color
]
%}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div {{ item.attributes }}>{{ item.content }}</div>
  {% endfor %}
</div>
