@mixin link-icon($content) {
	a {
		display: flex;
		align-items: center;

		width: 100%;
		height: 100%;

		color: inherit;
		text-decoration: none;
		text-align: center;

		padding: $icon-padding;
		line-height: 1;

		@include inline-icon($content);

		&::before {
			font-size: $icon-font-size;
		}
	}
}

@mixin inline-icon($content, $margin: 0, $position: before) {
	&::#{$position} {
		// handle content
		// @if (str.index($content, "url")) {
		// 	// svg files
		// 	display: inline-block;

		// 	height: 1em;
		// 	width: auto;

		// 	background: $content no-repeat 0 0;
		// 	background-size: contain;
		// 	content: "";
		// } @else {
		// glyph (i.e. bootstrap-icons)
		font-family: bootstrap-icons !important;
		font-size: inherit;
		color: inherit;

		vertical-align: middle;
		content: $content;
		// }

		// handle margin and position
		@if ($position == before) {
			margin-right: $margin;
		} @else {
			margin-left: $margin;
		}
	}
}
