.paragraph-text-and-image {
	margin: 1em 0;
	width: 100%;
	display: inline-block;

	img {
		margin-bottom: 1em;
	}

	&.image-position-left img {
		max-height: 400px;
		width: 50%;
		float: left;
		padding-right: $spacer;
		max-width: 100%;
		object-fit: contain;
	}

	&.image-position-right img {
		max-height: 400px;
		width: 50%;
		max-width: 100%;
		object-fit: contain;
		float: right;
		padding-left: $spacer;
	}

	&.image-position-half_above img,
	&.image-position-half_below img,
	&.image-position-full_above img,
	&.image-position-full_below img {
		display: block;
		margin: 0 auto 1em;
	}

	&.image-position-half_above img,
	&.image-position-half_below img {
		max-width: 50%;
	}
}
