{#
/**
 * @file
 * Display lists of user subscriptions.
 */
#}
<h2 class="h4 my-30">{{ 'Content subscriptions'|t }}</h2>
<div class="os2loop-subscriptions-node mb-30">
  {{ drupal_view('os2loop_subscriptions_node', 'block_1') }}
</div>

<h2 class="h4 mt-60 mb-30">{{ 'Taxonomy term subscriptions'|t }}</h2>
<div class="os2loop-subscription-term">
  {{ drupal_view('os2loop_subscription_term', 'block_1') }}
</div>
