@use "sass:list";

$step-background-colors: $loop-white, $gray-200, $gray-400;

.paragraph--type--os2loop-documents-step-by-step {
	> ol > li > a {
		@extend .h5, .mb-0;
	}

	@for $i from 1 through 10 {
		$selector: "";

		@for $j from 1 through $i {
			$selector: $selector + " li.paragraph";
		}

		$list-index: ($i - 1) % 3 + 1;

		#{$selector} {
			background-color: list.nth($step-background-colors, $list-index);

			@if $list-index == 1 {
				box-shadow: 0px 4px 60px 5px rgba(108, 117, 125, 0.08);
			}
		}
	}
}

ol.os2loop-documents-steps {
	@extend .d-flex, .flex-column;

	list-style-type: none;
	counter-reset: item;

	margin: 0;
	padding: 0;

	> li {
		@extend .border-0;

		padding: 12px 20px 12px 50px;
		border-radius: $border-radius-lg;

		> a {
			@extend .link-unstyled;

			display: inline-flex;
			position: relative;

			counter-increment: item;

			&:before {
				content: counters(item, ".") ". ";
				white-space: pre;
			}

			@include inline-icon("\f229", 0, after);

			&:after {
				position: absolute;
				transition: transform 0.35s;

				left: -32px;
			}

			&.collapsed {
				&:after {
					transform: rotate(-90deg);
				}
			}
		}
	}
}
