{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% set background_color_class = [
  element['#form_id'] == 'node_os2loop_question_form' ? 'primary-gray'
] %}

<div class="form-wrapper block {{ background_color_class|first }}">
  <form{{ attributes.addClass(element['#form_id']) }}>
    {{ children }}
  </form>
</div>
