{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{# TODO: This needs to be responsive to answer, comment, etc. #}
<h4 class="mb-20">{{ 'Add answer'|t }}</h4>
<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
