{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{# Apparently using hook_form_alter to set the input type to "search" breaks autocompleting #}
{% if 'search_api_autocomplete' == element['#type'] %}
  {% set attributes = attributes.removeClass('form-text').setAttribute('type', 'search') %}
  {% set show_search_button = TRUE %}
{% endif %}

<div>
  <div class="d-flex align-items-center">
    <input{{ attributes.addClass('form-control') }}/>
    {% if show_search_button %}
    <button class="btn btn-primary btn-lg ml-20" data-search-api-autocomplete-search="os2loop_search_db">{{ 'Search'|t }}</button>
    {% endif %}
  </div>
</div>
