{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set classes = [
    'form-control',
    'rounded',
    'no-background-image'
  ]
%}

{# Apparently using hook_form_alter to set the input type to "search" breaks autocompleting #}
{% if 'search_api_autocomplete' == element['#type'] %}
  {% set attributes = attributes.removeClass('form-text').setAttribute('type', 'search') %}
{% endif %}
<div>
  <div class="input-group">
    <input{{ attributes.addClass(classes) }}/>
    <span class="input-group-btn">
      <button class="btn btn-primary btn-lg ml-20" data-search-api-autocomplete-search="os2loop_search_db">{{ 'Search'|t }}</button>
    </span>
  </div>
</div>
