{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{# Apparently using hook_form_alter to set the input type to "search" breaks autocompleting #}
{% if 'search_api_autocomplete' == element['#type'] %}
  {% set attributes = attributes.removeClass('form-text').setAttribute('type', 'search') %}
{% endif %}
<div class="container-lg">
  <div class="row">
    <input{{ attributes.addClass('form-control no-background-image col') }}/>
    <button class="btn btn-primary btn-lg col-md-auto ml-20" data-search-api-autocomplete-search="os2loop_search_db">{{ 'Search'|t }}</button>
  </div>
</div>
