@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "colors-signifly.scss";
@import "variables-signifly.scss";

.user-profile {
  background-color: $gray-100;

  .user-profile-image {
    @extend .rounded-circle;
    @extend .overflow-hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 150px;

    background-color: $gray-400;
    color: $gray-800;

    font-size: 40px;
    font-weight: 500;

    img {
      width: 150px;
      height: 150px;

      object-fit: cover;
    }
  }

  .user-contact-information {
    display: flex;

    i {
      font-size: $user-contact-icon-size;
      line-height: 1;

      // hack to align icon with first row of multi-line text
      padding-top: calc(
        (#{$font-size-base} * #{$line-height-base} - #{$user-contact-icon-size}) /
          2
      );
      margin-right: $user-contact-icon-spacer;
    }

    div {
      display: block;
    }
  }

  .user-profile-badge-container {
    display: flex;
    flex-wrap: wrap;
  }
}
