@import '_bootstrap';
$green: #41ab51;
$green-light: #5dc26d;


.navbar-default {
    background-color: $green;
    min-height: 5em;
    width: 100%;
    display: -webkit-box;

    .navbar-header {
        width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display:flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
 

    a {
        background-color: $green-light;

    }
    .navbar-nav > li > a {
            color:black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        
        }
}
