// Bootstrap
@import "~bootstrap"; // Import full bootstrap styling
@import "~bootstrap-icons/font/bootstrap-icons.css"; // Import bootstrap icons

// Colors
@import "colors.scss";
@import "variables/colors.scss";

// Variables
@import "variables/sizes.scss";

// Components
@import "mixins.scss";
@import "helper-classes.scss";
@import "teasers.scss";
@import "fields.scss";
@import "icons.scss";
@import "navbar.scss";
@import "member-view.scss";
@import "media-library.scss";
@import "components/paragraphs/highlighted-content.scss";
@import "components/paragraphs/text-and-image.scss";
@import "components/paragraphs/info-block.scss";
@import "collapse.scss";
@import "_user.scss";

// Generel overrides
body {
	background-color: $gray-100;
}

a {
	color: $link-color;
	&:hover {
		color: darken($link-color, 10%);
	}
}

.bg-white-loop {
	background-color: $white;
	margin-bottom: $spacer * 2;
}

.bg-secondary-loop {
	border-radius: 3px;
	margin-bottom: $spacer * 2;
}

i {
	font-size: 1.2em;
}

.os2loop-content {
	position: relative;
}

img {
	max-width: 100%;
	object-fit: contain;
	height: auto;
}

// redesign using boostrap overriding and a component-based approach
@import "bootstrap-custom/bootstrap-custom-index.scss";
@import "components/components-index.scss";

// moved to end to load correctly
@import "search.scss";

// For testing and debugging, cf. ../test/colors.php.
// $colors: (
//   loop-green: $loop-green,
//   loop-green-600: $loop-green-600,
//   loop-green-400: $loop-green-400,
//   loop-green-300: $loop-green-300,
//   loop-green-200: $loop-green-200,
//   loop-green-100: $loop-green-100,

//   tag-blue: $tag-blue,
//   tag-purple: $tag-purple,
//   tag-green: $tag-green,
//   tag-orange: $tag-orange,

//   taxonomy-color-1: $taxonomy-color-1,
//   taxonomy-color-2: $taxonomy-color-2,
//   taxonomy-color-3: $taxonomy-color-3,
//   taxonomy-color-4: $taxonomy-color-4,

//   primary: $primary,
//   secondary: $secondary,
//   success: $success,
//   info: $info,
//   warning: $warning,
//   danger: $danger
// );

// @each $name, $color in $colors {
//   .color-#{$name} {
//     display: block;
//     width: 20rem;
//     height: 2rem;
//     content: "#{$name}";
//     background-color: $color;

//     &::before {
//       content: "#{$name}";
//       color: black;
//       background: white;
//     }
//   }
// }
