/**
 * @file
 * Colors defined by Signifly.
 */

// System green
$loop-green: #60a95b;
$loop-green-600: #448740;
$loop-green-400: #76c076;
$loop-green-300: #9bd89b;
$loop-green-200: #d2ebd3;
$loop-green-100: #e5f2e7;

// Tag colors
$tag-blue: #3d8bfd;
$tag-purple: #8540f5;
$tag-green: #38ab3d;
$tag-orange: #f28e3e;

// Gray tones
$gray-900: #212529;
$gray-800: #495057;
$gray-600: #6c757d;
$gray-500: #adb5bd;
$gray-400: #ced4da;
$gray-300: #dee2e6;
$gray-200: #e9ecef;
$gray-100: #f8f9fa;

// Notification colors
$invalid-red: #dc3545;
