$content-types: "os2loop_documents_collection", "os2loop_documents_document",
	"os2loop_external", "os2loop_page", "os2loop_post", "os2loop_question",
	"os2loop_section_page";

$icons-content-types: (
	"os2loop_documents_collection": url("svg/collection.svg"),
	"os2loop_documents_document": url("svg/document.svg"),
	"os2loop_external": "\f471",
	"os2loop_page": "\f3ee",
	"os2loop_post": url("svg/post.svg"),
	"os2loop_question": url("svg/question.svg"),
);

$comment-types: "os2loop_post_comment", "os2loop_question_answer";

$icons-comment-types: (
	// https://icons.getbootstrap.com/icons/chat/
	"os2loop_post_comment": "\f383",
	// https://icons.getbootstrap.com/icons/exclamation-square/ (to match sqare
	// question icon).
	"os2loop_question_answer": "\f50b"
);

// svg content from node_modules/bootstrap-icons/icons/search.svg.
$search-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");

@function bg-icon($icon, $fill-color) {
	@if $fill-color {
		// Convert fill color to string and (partially) url encode.
		$color: str-replace("#{$fill-color}", "#", "%23");
		$icon: str-replace($icon, " fill='currentColor'", " fill='#{$color}'");
	}

	@return $icon;
}

// When it is in a comment, it should leave a little margin.
.os2loop-comment {
	.icon-container {
		display: flex;
		right: 0;
		z-index: 10;
	}
}
