.title {
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacer;
	$icon-size: 1em;

	.header {
		align-items: center;

		.external {
			@include icon("\f471", $icon-size);
		}
		.post {
			@include icon("\f383", $icon-size);
		}
		.question {
			@include icon("\f50b", $icon-size);
		}
		.collection {
			@include icon("\f3c2", $icon-size);
		}
		.document {
			@include icon("\f3b9", $icon-size);
		}
	}
}

.entity-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: $gray-200;
	align-items: center;
	padding: 5px 0;
	i {
		font-size: 2em;
	}

	// Set user image to icon size.
	.user-image img {
		max-height: 48px;
		max-width: 48px;
		font-size: 2em;
	}
}
