// Table of contents display.
.toc {
	background-color: $light-background;
	border: 1px solid $gray-300;
	padding: 2em 1em 1em;

	// Overwrite toc default styling.
	ol.none {
		list-style-type: decimal;
		padding-left: 1.5em;
	}
}
