{% if content.os2loop_documents_title is not empty %}
  {% set toc_ignore = paragraph.get('os2loop_documents_toc_ignore').value == 1 %}
  <h2 class="{{ toc_ignore ? 'toc-ignore' }}">{{ content.os2loop_documents_title }}</h2>
{% endif %}
