.title {
	.title-icon {
		svg {
			width: 50px;
			height: 50px;
		}
	}

	.icon {
		background-color: $loop-green-400;
		color: $loop-white;
	}

	&-badges {
		display: flex;
		column-gap: 15px;
		align-items: flex-start;

		// div + div,
		// span + a.badge,
		// a.badge + a.badge {
		// 	@extend .ml-15;
		// }
	}
}
