/**
 * @file
 * Colors defined by Signifly.
 */

// System green
$loop-green: #60a95b !default;
$loop-green-600: #448740 !default;
$loop-green-400: #76c076 !default;
$loop-green-300: #9bd89b !default;
$loop-green-200: #d2ebd3 !default;
$loop-green-100: #e5f2e7 !default;

// Tag colors
$tag-blue: #3d8bfd !default;
$tag-purple: #8540f5 !default;
$tag-green: #38ab3d !default;
$tag-orange: #f28e3e !default;

// Gray tones
$gray-900: #212529;
$gray-800: #495057;
$gray-600: #6c757d;
$gray-500: #adb5bd;
$gray-400: #ced4da;
$gray-300: #dee2e6;
$gray-200: #e9ecef;
$gray-100: #f8f9fa;

// Notification colors
$loop-red: #dc3545 !default;

// System white
$loop-white: #fff;

// System black
$loop-black: #000;
