div#searchFilterCollapseFacets {
	position: relative;

	> div.btn-group {
		position: absolute;
		top: -60px;
		padding-left: 30px;
		z-index: 1;

		> .btn {
			background-color: $loop-white;
		}
	}
}
