$color-map: (
	"primary-green": $loop-green-200,
	"primary-light-green": $loop-green-100,
	"primary-gray": $gray-200,
	"primary-white": $loop-white,
	"secondary-white": $loop-white,
	"secondary-gray": $gray-100,
);

@mixin background-modifiers {
	@each $name, $color in $color-map {
		&-#{$name} {
			background-color: $color;
		}
	}
}

.bg {
	@include background-modifiers;
}

.block {
	@extend .border-0;
	@extend .p-30;

	border-radius: $border-radius-lg;

	@each $block, $color in $color-map {
		&.#{$block} {
			background-color: $color;
		}
	}

	&.primary-white {
		box-shadow: 0px 4px 60px 5px rgba(108, 117, 125, 0.08);
	}
}

.block-base {
	@extend .border-0;

	padding: 30px;
	border-radius: $border-radius-lg;
}

@each $name, $color in $color-map {
	.bg-#{$name} {
		background-color: $color;
	}

	.block-#{$name} {
		@extend .block-base;

		background-color: $color;

		@if $name == "primary-white" {
			box-shadow: 0px 4px 60px 5px rgba(108, 117, 125, 0.08);
		} @else {
			box-shadow: none;
		}
	}
}
